.App {
  text-align: center;
}

.accValue {
  display: inline-block;
  width: 220px;
  height: 25px;
}

.nav-items {
  list-style: none;
  margin: 0 auto;
}

.nav-item {
  display: inline-block;
  height: 80px;
  padding: 0 10px;
  text-align: center;
  min-width: 80px;
  margin: 0 10px;
  line-height: 80px;
}

.route {
  margin-top: 90px;
  text-align: center;
}

form {
  margin: 0 auto;
  padding: 20px;
  width: 500px;
  border:1px solid lightgrey;
  border-radius: 10px;
}

a {
  text-decoration: none;
}

.label {
  display: inline-block;
  width: 100px;
  
}

.label-text {
  text-align: center;
}

.accTitle {
  height: 45px; width:250px;
  padding: 11px;
  margin: 0 auto;
  background-color: darkblue;
  color: white;
  border-radius: 10px;
}

.section0 {
  position: absolute;    
  width: 100%;
  color: black;
  text-align: center;
}

.section_main_title {
  top:100px;
  font-size:40px;
  line-height: 1.4;
}

.section_title {
  font-size:30px;
  line-height: 1.4;
}

.section_sub1 {
  top:230px;
  font-size: 20px;
  line-height: 1.95;
  opacity: 0.7;
}

.store {
  top:350px;
}
.bar {
  width: 100%;
  height: 20px;
  background-color: whitesmoke;
}

.Hover:hover {
  background-color: midnightblue;
  color: aliceblue;
}